* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
    --COLORBG: #0e1411;
    --COLOR: #daebf1; 
    --COLORHD: #0b0c14;
    --COLORFT: #0a0e0a;
    --COLORGR: rgba(12, 243, 166, 0.562);
    --COLORBD: rgb(35, 39, 37);
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--COLORBG);
    color: var(--COLOR);
}

.header{
    background: var(--COLORFT);
}

.footer {
    background: var(--COLORFT);
}

img {
    width: 100px;
}

.main-container {
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 100vw;
}

/* 
.box {
    border: red 3px solid;
} */

/* Small screen */
.header {
    font-size: 2rem;
}

.header h1 {
    font-size: 2rem;
}

.container-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 
}

.main-card {

    display: flex;
    flex-direction: column;
}

.main-card p{
    margin: 20px;
}

.card {
    text-align: center;
    padding: 10px;
    border: 1px var(--COLORBD) solid;
    border-top: 5px solid var(--COLORGR);
    background: transparent;
    width: 300px;
    height: 170px;
    margin: 10px;
}

.card h2 {
    font-size: 0.8rem;
    margin-bottom: 20px;
    margin-top: 10px;
}

.suggestions {
    display: none;
    background-color: var(--COLORFT);
}

nav ul {
    margin-top: 50px;
}

nav ul li {
    display: block;
    padding: 10px;
    background: rgb(18, 22, 18);
}

nav {
    position: fixed;
    background: var(--COLORFT);
    height: 100vh;
    width: 200px;
    top: 0;
    right: -500px;
    text-align: left;
    z-index: 2;
    padding-left: 20px;
    transition: 1.2s;
}

nav ul li a {
    text-decoration: none;
    color: var(--COLOR);
    font-size: 15px;
    width: 100%;
}


.nav-links li a:hover {
    color: var(--COLORGR);
}

#navLinks ul .menu-item2 a{
    color: var(--COLORGR);
}

nav ul li::after {
    content: '';
    width: 100%;
    height: 2px;
    display: block;
    margin: auto;
}

.fa-bars {
    position: absolute;
    right: 0;
    top: 10px;
    margin-right: 20px;
    font-size: 1.5rem;
    margin-left: 90px;
    color: var(--COLOR);
}

.fa-times {
    margin-left: 5px;
    color: var(--COLOR);
}

.footer {
    padding: 30px;
}

.help ul {
    list-style: none;
    margin-top: 20px
}

.help ul li a {
    text-decoration: none;
    color: var(--COLOR);
}

.legal {
    font-style: italic;
}

.main-card h1 {
    font-size: 1.3rem;
    margin-top: 30px;
    margin-left: 30px;
}

.container-card a {
    text-decoration: none;
    color: var(--COLOR);
}


/* MEDIA QUERIES */

@media (min-width: 769px) {
    
    /* STRUCTURE */
    .main-container {
        gap: 0px;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
    }

    .header {
        grid-column: 1/13;
    }

    .main-card {
        grid-column: 3/11;
        grid-row: 2/12;
        overflow-y: scroll;
        
    }

    .aside {
        grid-column: 1/3;
        grid-row: 2/13;
        background: rgb(18, 22, 18);
    }

    .suggestions {
        display: none;
        grid-row: 2/12;
        grid-column: 11/13;
        background: var(--COLORFT);
    }

    .footer {
        grid-column: 3/13;
    }

    nav ul li {
        display: inherit;
        padding: 10px;
    }
    
    nav {
        position: initial;
        background: var(--COLORFT);
        height: auto;
        width: auto;
        text-align: left;
        z-index: none;
        padding-left: 0px;
    }
    
    nav ul li a {
        text-decoration: none;
        color: var(--COLOR);
        font-size: 15px;
    }

    nav .fa {
        display: none;
    }

    .header .fa-bars {
        display: none;
        align-content: center;
    }


    /* CENTER SECTION */
    .main-card {
        display: flex;
        align-items: center;
        margin-left: 30px;
        
    }


    .container-card {
        display: flex;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .help ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }

    .help ul li {
        margin-right: 20px;
    }

    .header h1 {
        margin-left: 20px;
        margin-top: 20px;
    }

    .main-card h1 {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    fieldset {
        width: 60%;
        display: flex;
        flex-direction: column;
        border: 1px solid var(--COLORGR);
        border-top: 5px solid var(--COLORGR);
        padding-top: 20px;
        margin: 50px;
        justify-content: center;
        align-items: center;
    }

    fieldset h2 {
        text-align: center;
    }

    .field {
        display: flex;
        flex-direction: column;
    }

    .field input {
        width: 500px;
        height: 50px;
        background: transparent;
        border: var(--COLORGR) 1px solid;
        margin-left: 50px;
        margin-top: 10px;
        color: var(--COLOR);
        padding-left: 10px;
    }

    .field label {
        margin-left: 50px;
        margin-top: 10px;
    }

    #btn {
        width: 150px;
        height: 30px;
        background: transparent;
        color: var(--COLOR);
        border: var(--COLORGR) 1px solid;
        margin: 30px 0 30px 50px;
    }

    .col {
        width: 100px;
    }

    table {
        width: 80%;
        border-collapse: collapse;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    table, th, tr, td {
        border: 1px solid var(--COLORGR);
        padding: 10px;
    }

    #message {
        color: red;
    }

    #form {
        display: flex;
        flex-direction: column;
    }

    #form label {
        margin-left: 20px;
    }


    #form input {
        width: 400px;
        height: 50px;
        border: 1px solid var(--COLORGR);
        background: transparent;
        padding: 20px;
        margin: 20px;
        color: var(--COLOR);
    }


 #form #content {
    height: 200px;
}

    #btn {
        width: 200px;

    }

    #one  {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #one h2{
        margin-bottom: 20px;
    }

    

}